body {
	margin : 10px;
	max-width: 100vw;
	min-height: 100vh;
	/*Conteneur flex en colonne*/
	display: flex;
	flex-direction: column;
}

.global {
	max-width: 100vw;
	/*Propriété comme item flex*/
	flex: 1 0 100%;
	/*Conteneur flex en rangée*/
	display: flex;
	/*Poussée vers la gauche pour ne pas voir le menu*/
	transform: translateX(-100%);
	/*Effet de transition sur la transformation*/
	transition: transform 1s;
	/*	overflow-x: hidden; */
	}

	.boutonBurger {
		background: linear-gradient(to bottom, #E84545 0%, #E84545 20%, transparent 20%, transparent 40%, #E84545 40%, #E84545 60%, transparent 60%, transparent 80%, #E84545 80%, #E84545 100%);
		height: 48px;
		width: 48px;
		margin: 1%;
		display: inline-block;
		cursor: pointer;
		/*Effet de transition sur la rotation*/
		transition: transform 1s;
	}

	.menu {
		background-color : $color__menu-nav;
		text-align: center;
		/*Pour cet exemple, on fixe la largeur du menu à 100% ou 100vw*/
		width: 100vw;
		/*Propriété comme item flex - ne peut rétrécir*/
		flex: 1 0 100%;
		/*Contexte flex en colonne pour ses enfants*/
		display: flex;
		flex-direction: column;
		justify-content: center;
		overflow-x: hidden;
		overflow-y: auto;
	}



		#chkBoutonBurger:checked~.global {
			transform: translateX(0%);
		}

		#chkBoutonBurger:checked~.boutonBurger {
			transform: rotate(90deg);
		}

		#chkBoutonBurger {
			display: none;
		}



.sidebar {
	grid-area: sidebar;
}

.sidebar2 {
	grid-area: sidebar2;
}

.content {
	grid-area: content;
}

.header {
	grid-area: header;
}

.footer {
	grid-area: footer;
}

.conteneur {
	background-color: #fff;
	color: #444;
}
/* conteneur est un élément flex et en même temps un conteneur grid */
.conteneur {
		/*Sa largeur est fixée à 100%*/
		width: 100vw;
		/*Propriété comme item flex - ne peut rétrécir*/
		flex: 1 0 100%;
		/*Conteneur flex en colonne pour ses enfants*/
		flex-flow: column nowrap;
		overflow-x: hidden;
		overflow-y: auto;

		display: grid;
		width : 100vw;
		grid-gap: 1em;
		grid-template-areas:
			"header"
			"sidebar"
			"content"
			"sidebar2"
			"footer"
}

@media only screen and (min-width: 500px) {
	.conteneur {

		grid-template-columns: 20% auto;
		grid-template-areas:
			"header   header"
			"sidebar  content"
			"sidebar2 sidebar2"
			"footer   footer";

		min-width: 500px;
	}
}

@media only screen and (min-width: 900px) {

	.boutonBurger {
		display: none
	}

	.global {
		/* Placer à sa potition d'origine */
		transform: translateX(0%);
		/*Mettre le contenu en colonne*/
		flex-direction: column;
	}

	.menu {
		/*Propriété comme item flex - ne peut s'étirer en hauteur*/
		width: 96vw;
		margin-bottom: 10px;
		border-radius : 10px;
		flex: 0 0 100%;

		/*Affichage du menu en rangée*/
		flex-direction: row;
		justify-content: space-between;

		 a {
				border: none;
				border-left: 1px solid white;
				/*Propriété comme item flex - peut s'étirer en largeur*/
				flex: 1 0 auto;
		

		 &:first-child {
				border-top: none;
			}
		 }	

	}

	.conteneur {
		grid-gap: 20px;
		grid-template-columns: 120px auto 120px;
		grid-template-areas:
			"header  header  header"
			"sidebar content sidebar2"
			"footer  footer  footer";
		max-width: 100%;
	}
}

.box {
	background-color: #444;
	color: #fff;
	border-radius: 5px;
	padding: 10px;
	font-size: 150%;
}

.header,
.footer {
	background-color: #999;
}

.sidebar2 {
	background-color: #ccc;
	color: #444;
}
