.mot {
    display: flex;
}

.mot>div {
    font-size: 9vw;
    text-shadow: 6px 2px 6px rgba(0, 0, 0, 0.7);

}

.mot:nth-child(1)>div {
    animation: animationLettre 1s both;
}

@keyframes animationLettre {
    from {
        /* opacity:  0; */
        transform: rotate(180deg) rotate(360deg) scale(1);
        animation-timing-function: cubic-bezier(.8, .01, .97, .19);
        color: #3c71ad;
    }

    50% {
        /* opacity:  .5; */
        transform: rotate(30vw) rotate(180deg) scale(1.5);
        animation-timing-function: cubic-bezier(.09, .25, .19, 1.01);
    }

    to {
        /* opacity:  1; */
        transform: rotate(360deg) rotate(0deg) scale(1);
        color: black;
        
    }

}