.mot {
    display: flex;
}

.mot>div {
    font-size: 9vw;
    text-shadow: 6px 2px 6px rgba(0, 0, 0, 0.7);

}

.mot:nth-child(1)>div {
    animation: animationLettre 1s both;
}

@keyframes animationLettre {
    from {
        /* opacity:  0; */
        transform: translateY(-75vw) rotate(180deg) scale(1);
        animation-timing-function: cubic-bezier(.8, .01, .97, .19);
    }

    50% {
        /* opacity:  .5; */
        transform: translateY(30vw) rotate(180deg) scale(1.5);
        animation-timing-function: cubic-bezier(.09, .25, .19, 1.01);
    }

    to {
        /* opacity:  1; */
        transform: translateY(0%) rotate(0deg) scale(1);
    }

}